name = "pulletsforever"
compatibility_date = "2024-01-01"
main = "workers/site/index.js"
upload_source_maps = true

[assets]
directory = "./_site"
binding = "ASSETS"
run_worker_first = true

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1