<!doctype html>
<html lang="{{ metadata.language }}" prefix="og: https://ogp.me/ns#">
  <head>
    {% include "partials/meta-tags.njk" %}

    <title>{{ title or metadata.title }}</title>

    {% include "partials/link-tags.njk" %}

    <script type="application/ld+json">
      {% generateSchema schema %}
    </script>

    {%- css %}
      {% include "css/index.css" %}
      {% include (inputDir + "_css/index.css") %}
    {% endcss %}
    <style>{% getBundle "css" %}</style>
 
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>

    {% set navEntries = collections.all | eleventyNavigation %}
    {% renderTemplate "webc", {metadata: metadata, currentUrl: page.url, navEntries: navEntries} %}<site-header :metadata="metadata" :current-url="currentUrl" :nav-entries="navEntries"></site-header>{% endrenderTemplate %}

    <main id="main-content">
      {{ content | safe }}
    </main>
 
    {% renderTemplate "webc", {metadata: metadata, hideFooterSocial: hideFooterSocial} %}<site-footer :metadata="metadata" :hide-footer-social="hideFooterSocial"></site-footer>{% endrenderTemplate %}
    
    {%- js %}
      {% include "js/index.js" %}
    {% endjs %}
    <script>{% getBundle "js" %}</script>
    {% if env.isProduction %}
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon="{{ metadata.cloudflare_insights | json }}" crossorigin="anonymous"></script>
    {% endif %}
  </body>
</html>
