---
eleventyExcludeFromCollections: true
permalink: /.well-known/security.txt
---
Contact: mailto:security@pulletsforever.com
Expires: {{ expiryDate }}
Preferred-Languages: en
Canonical: https://pulletsforever.com/.well-known/security.txt
# TODO: Digitally Sign https://www.rfc-editor.org/rfc/rfc9116#section-2.3