
.hero-image picture img, article picture img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

/*
	Initial cap on first text paragraph of blog posts.
	First selector: no hero image, first <p> has text.
	Second selector: hero image in first <p>, drop cap on following <p>.
	TODO: narrow letters like "I" don't look great as drop caps.

.e-content > p:first-of-type:not(:has(img))::first-letter,
.e-content > p:first-of-type:has(img) + p::first-letter {
	float: left;
	font-size: 3.2em;
	line-height: 0.8;
	min-width: 0.6em;
	text-align: center;
	padding-right: 0.08em;
	font-weight: bold;
}
*/

/*
	The 🔗 emoji is used for header anchors links
*/
.header-anchor {
	font-size: 0.5rem;
	vertical-align: super;
}