---
layout: layouts/base.njk
title: About
description: About David W. Keith, the author of Pullets Forever
eleventyNavigation:
  key: About
  order: 3
---
<article class="h-card">
  <h1 class="p-name">{{ metadata.author.name }}</h1>

  <p class="p-note">
    I'm an independent software engineer with a passion for well-crafted technology and good food.
    This blog is where I write about whatever catches my interest.
  </p>

  <p>
    My primary website is <a class="u-url" rel="me" href="{{ metadata.author.url }}">dwk.io</a>.
  </p>

  <h2>Elsewhere</h2>
  <ul>
    {% for service, profileURL in metadata.author.alternates %}
      {% if profileURL != metadata.url %}
        <li><a href="{{ profileURL }}" rel="me">{{ service | capitalize }}</a></li>
      {% endif %}
    {% endfor %}
    <li><a class="u-email" href="mailto:{{ metadata.author.email }}">Email</a></li>
  </ul>
</article>
