---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Tagged {{ tag }}
permalink: /tags/{{ tag | slugify }}/
---
<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% renderTemplate "webc", {posts: postslist, url: page.url} %}<post-list :posts="posts" :url="url"></post-list>{% endrenderTemplate %}

<p>See <a href="/tags/">all tags</a>.</p>
