<footer>
  {% if metadata.showSocialLinks %}
    <ul>
    {% for service, profileURL in metadata.author.alternates %}
      <li><a href="{{profileURL}}" rel="me external">
        <img height="32" width="32" src="/img/social/{{service}}.png" alt="{{service}}'s logo" title="{{service}}">
      </a></li>
    {% endfor %}
    <li><a href="mailto:{{metadata.author.email}}" rel="me external">
      <img height="32" width="32" src="/img/social/email.png" alt="email icon" title="email">
    </a></li>
    <ul>
  {% endif %}
    <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
    <a property="dct:title" rel="cc:attributionURL" href="{{metadata.url}}">{{metadata.title}}</a> by 
    <a rel="cc:attributionURL dct:creator author me" property="cc:attributionName" href="{{metadata.author.url}}">{{metadata.author.name}}</a> is licensed under 
    <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">Creative Commons Attribution 4.0 International
      <img height="22" width="22" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="Creative Commmons logo">
      <img height="22" width="22" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="Attribution Required">
    </a>
  </p>
  <img id="greenweb-badge" width="200" height="95" src="https://app.greenweb.org/api/v3/greencheckimage/{{metadata.site}}?nocache=true" alt="This website runs on green hosting - verified by thegreenwebfoundation.org">
</footer>