<header>
  <a href="/" class="header-logo"><img eleventy:widths="64,128" width="64" height="64" src="{{metadata.logo.src}}" alt="{{metadata.logo.alt}}"></a>
  <div class="header-title">
    <h1>{{ metadata.title }}</h1>
    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    {% if metadata.useNavigation %}
    <nav aria-label="Main">
      <ul class="nav" role="list">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </nav>
    {% endif %}
  </div>
</header>
